# Python bytecode / caches
__pycache__/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/
wheels/

# Virtual environments
.env/
.venv/
venv/
env/
ENV/
pip-selfcheck.json

# Logs, local files
logs/

# OS files
.DS_Store
Thumbs.db